body {
    background-color: white;
}

header {
    border: 5px solid black;
    height: 25dvh;
    box-sizing: border-box;
}

#div1 {
    display: inline-block;
    background-color: blueviolet;
    height: 100px;
    width: 30px;
    margin: 4rem 0 1rem 10px
}

#div2 {
    display: inline-block;
    background-color: green;
    height: 155px;
    width: 300px;
    margin: 1rem;
}

#div3 {
    display: inline-block;
    background-color: lightblue;
    height: 155px;
    width: 155px;
    margin:    1rem;
    border-radius: 50%;
}

section {
    border: 4px ;
    border-style: dotted;
    height: 35dvh;
    margin-top: 1rem;
    box-sizing: border-box;
}

section div {
    background-color:beige;
    height: 25dvh;
    width: 85dvw;
    margin: 2rem auto;
    box-shadow: 7px 7px 5px;
}

main {
    height: 30dvh;
    width: 50dvw;
    border: 1.5px solid black;
    margin: 1rem auto;
}

main div {
    text-align: center;
    margin: 5rem auto;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

main div p {
    margin: 0;
}
